// print模板公共样式


.divider {
    width: 100%;
    height: 0px;
    border-bottom: 1px solid #888;
    margin: 6pt 0;

    &.dashed {
        border-bottom: 1px dashed #888;
    }
}



.header {
    display: flex;
    font-size: 10pt;
    line-height: 1.2;
    font-weight: 300;

    .header-left {
        width: 80pt;

        .qr-code {
            img {
                width: 80pt;
                height: 24pt;
            }
        }

        .service {
            display: flex;
            white-space: nowrap;
            margin-top: 4pt;

            .service-item {
                font-weight: 600;

                &:not(:first-child) {
                    margin-left: 6px;
                }
            }
        }
    }

    .header-right {
        width: 80pt;
        text-align: right;

        .qr-code {
            img {
                width: 48pt;
                height: 48pt;
            }
        }
    }

    .header-title {
        flex: 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title-main {
            font-size: 15pt;
            font-weight: 400;
        }

        .title-sub {
            font-size: 13pt;
            margin-top: 6pt;
        }
    }

}

.patient-basic-info,
.patient-detail-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6pt;
    margin-bottom: -6pt;
    margin-right: -6pt;
    font-size: 10pt;
    line-height: 1.2;
    font-weight: 300;

    .info-item {
        flex: 0 calc(33.33% - 6pt);
        margin-right: 6pt;
        margin-bottom: 6pt;
        word-break: break-all;

        span {
            &:not(:first-child) {
                margin-left: 4px;
            }
        }

        &.row-three {
            flex-basis: 100%;
        }

        &.row-two {
            flex-basis: calc(66.67% - 6pt);
        }
    }
}

.blank-section {
    display: flex;
    margin-top: 6pt;
    font-size: 10pt;
    line-height: 1.2;
    font-weight: 400;
    justify-content: center;
    align-items: center;

    .divider {
        flex: 0 0 40pt;
    }

    .blank-text {
        margin: 0 8pt;
    }
}

.footer {
    display: flex;
    font-size: 10pt;
    line-height: 1.2;
    font-weight: 400;
    flex-direction: column;

    .doctor-info {
        display: flex;
        justify-content: space-between;

        .info-item {
            flex: 0 auto;
            margin-right: 6pt;
            margin-bottom: 6pt;
            word-break: break-all;

            &:last-child {
                margin-right: 0;
            }

        }
    }

    .footer-note {
        display: flex;
        font-size: 9pt;
        justify-content: space-between;

        .note-content {
            flex: 1 0 48%;
            word-break: break-all;
        }

        .contact-info {
            flex: 1 0 48%;
            text-align: right;

            .contact-item {
                margin-bottom: 2pt;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}