@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-size: 16px;
  background-color: var(--el-fill-color-lighter);
  min-height: initial;
}

@media print {
  header {
    display: none !important;
  }

  main {
    margin: 0 !important;

    .print-editor-box {
      display: none !important;
    }
  }
}

/* 隐藏下拉箭头 */
.el-popper__arrow {
  display: none;
}

.el-popper {
  margin-top: -8px;
}