@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-size: 16px;
  background-color: var(--el-fill-color-lighter)
}

@media print {
  header {
    display: none !important;
  }

  main {
    margin: 0 !important;
    .print-editor-box {
      display: none !important;
    }
  }
}